<!DOCTYPE html>
<html
  lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}"
  {{
  if
  .Site.Params.darkMode
  |
  default
  false
  }}class="dark"
  {{
  end
  }}
>
  {{- partial "head.html" . -}}
  <body
    class="
      flex flex-col
      h-screen
      px-6
      m-auto
      text-lg
      leading-7
      text-neutral-900
      sm:px-14
      md:px-24
      lg:px-32
      dark:bg-neutral-800 dark:text-neutral
      max-w-7xl
    "
    style="background-image: url('{{ .Params.featured_image }}');        
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;"
  >
    {{- partial "header.html" . -}}
    <main class="flex-grow">{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}}
  </body>
  {{- partial "scripts.html" . -}}
</html>
