<!DOCTYPE html>
<html
  lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}"
  {{
  if
  .Site.Params.darkMode
  |
  default
  false
  }}class="dark"
  {{
  end
  }}
>
  {{- partial "head.html" . -}}
  <body
    class="flex flex-col h-screen px-6 m-auto text-lg leading-7 text-neutral-900 sm:px-14 md:px-24 lg:px-32 dark:bg-neutral-800 dark:text-neutral max-w-7xl"
  >
    <h1
      class="mt-12 text-2xl font-bold first:mt-8 text-neutral-700 dark:text-neutral-300 text-center"
    >
      🇺🇦🇺🇦🇺🇦 | GLENCLANCEY of КРИМСЬКИЙ ПІВОСТРОВ (CRIMEAN PENINSULA) | 🇺🇦🇺🇦🇺🇦
    </h1>
    <video
      id="background-video"
      autoplay
      loop
      muted
      style="
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      "
    >
      <source src="{{ .Params.featured_image }}" type="video/mp4" />
    </video>
    <audio id="player" autoplay loop>
      <source src="bg.mp3" type="audio/mpeg" />
    </audio>
    <div class="flex-col h-screen px-6 m-auto">
      <button onclick="document.getElementById('player').play()">
        <i class="fas fa-play"></i>
      </button>
      <button onclick="document.getElementById('player').pause()">
        <i class="fas fa-pause"></i>
      </button>
      <button onclick="document.getElementById('player').volume += 0.2">
        <i class="fas fa-plus"></i>
      </button>
      <button onclick="document.getElementById('player').volume -= 0.2">
        <i class="fas fa-minus"></i>
      </button>
    </div>
    {{/* {{- partial "header.html" . -}}
    <main class="flex-grow">{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}} */}}
  </body>
</html>
