<link rel="stylesheet" href="{{ "/css/fontawesome.min.css"| relURL }}"/>
<link rel="stylesheet" href="{{ "/css/solid.min.css"| relURL }}"/>
<link rel="stylesheet" href="{{ "/shortcode-gallery/justified_gallery/justifiedGallery.min.css"| relURL }}"/>
<link rel="stylesheet" href="{{ "/shortcode-gallery/swipebox/css/swipebox.min.css"| relURL }}">

<script async defer data-website-id="203f5c88-9e0b-461f-89b3-dc756fb0cfec" src="https://analytics.0x40.me/umami.js" data-domains="glenclancey.com,www.glenclancey.com,glenclancey-com.netlify.app"></script>
<script src="{{ "/shortcode-gallery/jquery-3.6.0.min.js" | relURL }}"></script>
<script src="{{ "/shortcode-gallery/lazy/jquery.lazy.min.js" | relURL }}"></script>
<script src="{{ "/shortcode-gallery/swipebox/js/jquery.swipebox.min.js" | relURL }}"></script>
<script src="{{ "/shortcode-gallery/justified_gallery/jquery.justifiedGallery.min.js"| relURL }}"></script>
